@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html,
body {
	height: 100%;
	scrollbar-width: none;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

input::placeholder {
	text-align: center;
}

/* or, for legacy browsers */

::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	/* Firefox 18- */
	text-align: center;
}

::-moz-placeholder {
	/* Firefox 19+ */
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}

header {
	box-shadow: rgba(0, 0, 0, 0.75) 0px -10px 15px 15px;
}

footer {
	box-shadow: rgba(0, 0, 0, 0.75) 0px 10px 15px 15px;

}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.rainbow {
	background: linear-gradient(-45deg,
			rgba(255, 0, 0, 1) 0%,
			rgba(255, 154, 0, 1) 5%,
			rgba(208, 222, 33, 1) 10%,
			rgba(79, 220, 74, 1) 15%,
			rgba(63, 218, 216, 1) 20%,
			rgba(47, 201, 226, 1) 25%,
			rgba(28, 127, 238, 1) 30%,
			rgba(95, 21, 242, 1) 35%,
			rgba(186, 12, 248, 1) 40%,
			rgba(251, 7, 217, 1) 45%,
			rgba(255, 0, 0, 1) 50%,
			rgba(255, 154, 0, 1) 55%,
			rgba(208, 222, 33, 1) 60%,
			rgba(79, 220, 74, 1) 65%,
			rgba(63, 218, 216, 1) 70%,
			rgba(47, 201, 226, 1) 75%,
			rgba(28, 127, 238, 1) 80%,
			rgba(95, 21, 242, 1) 85%,
			rgba(186, 12, 248, 1) 90%,
			rgba(251, 7, 217, 1) 95%,
			rgba(255, 0, 0, 1) 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-size: 1000% 1000%;
	animation: 30s linear infinite gradient;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.tag-fade {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%)
}

.new-tag-input {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	/* i.e. Nexus5/Chrome and Kindle Fire HD 7 */
	outline: none;
}

.datum-tag-sub-container {
	scrollbar-width: none;
}

.tag-name-menu,
.tag-value-menu {
	transition: max-height .2s ease-out, opacity .2s ease-out;
	/* animation-name: slide-up;
	animation-duration: 1s; */
	box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5), inset 0 2px 40px 0 rgb(0 0 0);
}

/* footer {
	transition: height 1s ease-in;
} */

@keyframes slide-up {
	from {
		height: 0px;
	}

	to {
		height: 50px;
	}
}

.datum-menu {
	box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 5px 5px;
	animation-name: fadeIn;
	animation-duration: .2s;
}