* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito, Helvetica, sans-serif;
  background-color: #0d0d0d;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, Helvetica, sans-serif;
} */

/* a {
  color: inherit;
  text-decoration: none;
} */

/* * {
  box-sizing: border-box;
} */

img {
  max-width: 100%;
  height: auto;
}

/* h1,
h2,
p,
ul {
  margin: 0;
} */

ul {
  /* padding: 0; */
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}
